<!DOCTYPE html>
<html>
<head>
  <title>Simple User Form</title>
</head>
<body>

  <h2>User Registration Form</h2>
  <form action="/saveform" method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>

    <label for="useremail">Email:</label><br>
    <input type="email" id="useremail" name="useremail"><br><br>

    <label for="userpass">Password:</label><br>
    <input type="password" id="userpass" name="userpass"><br><br>

    <label for="userage">Age:</label><br>
    <input type="number" id="userage" name="userage"><br><br>

    <input type="submit" value="Submit">
  </form>

</body>
</html>
